* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    /*background-color:red;*/
    width: 100%;
    height: auto;

}

/* ---------Benefit Bar --------- */
#benefit-bar {
    background-color: #742e2a;
    text-align: center;
    color: #f2f2f2;
    padding: 5px;
}

/* ---------Header Section--------- */

#header-wrapper {
    overflow: hidden;
    background-color: #fff;
}

#header-logo {
    float: left;
}

#header-logo img {
    float: left;
    height: 120px;
    width: auto;
    padding-left: 10px;
}

#header-nav-left a {
    float: left;
    color: #742e2a;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 50px 20px;
}

#header-nav-right a {
    float: right;
    color: #742e2a;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 50px 20px;
}

/* ---------Body Section--------- */

#body-wrapper {
    font-family: 'Courier New', Courier, monospace;
}

#body-left {
    width: 50%;
    float: left;
    padding: 10px 10px;
    /*text-align: center;*/
}

#body-left p {
    text-align: center;
    padding: 10px 90px 0 90px;
}

#body-left h1 {
    text-align: center;
    padding: 10px 90px 0 90px;
}

#body-right {
    float: right;
    width: 50%;
    text-align: center;
    padding: 10px 10px;

}

#body-left button {
    background-color: orange;
    border: 1px solid #3a3a3a;
    color: #f2f2f2;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 10px;
}

#body-left button:hover {
    color: #fff;
}

#body-left button:hover {
    background-color: green;
}

/* ---------Footer Section--------- */

#footer-wrapper {
    /* issue with footer not displaying in the footer solved using 
     https://stackoverflow.com/questions/4575826/how-to-push-a-footer-to-the-bottom-of-page-when-content-is-short-or-missing */
    display: flex;
    min-height: 20vh;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

/* ---------Footer Section - Email --------- */

#email-sign-up {
    background-color: #f2f2f2;
    padding: 10px;
}

#email-sign-up h3 {
    margin-bottom: 10px;
}

#email-sign-up #email-submit {
    background-color: orange;
    border: 1px solid #3a3a3a;
    color: #f2f2f2;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 10px;
}

#email-sign-up #email-submit:hover {
    color: #fff;
}

#email-sign-up #email-submit:hover {
    background-color: green;
}

#email-sign-up #email-box {
    background-color: #fff;
    width: 15%;
    border: 1px solid #3a3a3a;
    padding: 10px 20px;
}



/* ---------Footer Section - Nav Links--------- */

#footer-nav {
    background-color: orange;
    
}

/* ---------Footer Section - Social Links --------- */
#social-links {
    background-color: green;
    
}