@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    width: 100%;
    height: auto;
    color: #3a3a3a;
    font-family: 'Nunito', sans-serif;
}

h2 {
    font-size: 1.1rem;
}

h3 {
    font-size: 1.1rem;
}

h4 {
    font-size: 1.1rem;
}

.button {
    background-color: orange;
    border: 1px solid lightgray;
    color: #f2f2f2;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.button:hover {
    color: #fff;
}

.button:hover {
    background-color: green;
}


/* ---------Header Section--------- */

#header-wrapper {
    overflow: hidden;
    background-color: #fff;
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

#header-wrapper a:hover {
    color: green;
}

#header-logo {
    float: left;
}

#header-logo img {
    float: left;
    height: 120px;
    width: auto;
    padding-left: 10px;
}

#header-nav-left a {
    float: left;
    color: #3a3a3a;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 50px 30px;
}

#header-nav-right a {
    display: flex;
    float: right;
    color: #3a3a3a;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    padding: 50px 20px;
}

#header-nav-right button {
    color: #3a3a3a;
    float: right;
    padding: 50px 20px;
    font-size: 18px;
    background-color: #fff;
    border: 0;
}

/* ---------Body Section--------- */

#body-wrapper {
    font-family: 'Lato', sans-serif;
    display: flex;
    height: auto;
}

#body-center {
    width: 33%;
    float: left;
    padding: 10px 10px;
}

#body-center p {
    text-align: center;
    padding: 10px 20px;
}

#body-center h1 {
    text-align: center;
    padding: 10px 20px;
    font-family: 'Lato', sans-serif;
    font-size: 2.5em;
}

/*#body-center button {
    background-color: orange;
    border: 1px solid #3a3a3a;
    color: #f2f2f2;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

#body-center button:hover {
    color: #fff;
}

#body-center button:hover {
    background-color: green;
}*/


#body-right {
    float: right;
    max-width: 33%;
    height: 50%;
    text-align: center;
    padding: 0 20px;
}

#body-right img {
    max-width: 90%;
    max-height: auto;
    object-fit: cover;
}

#body-left {
    float: right;
    max-width: 33%;
    height: 50%;
    text-align: center;
    padding: 0 20px;
}

#body-left img {
    max-width: 90%;
    max-height: auto;
    object-fit: cover;
}

/* ---------Benefit Bar --------- */
#benefit-bar-container {
    display: flex;
    text-align: center;
    color: #3a3a3a;
    padding: 10px 30px 10px 30px;
    max-width: 100%;
    margin-top: 10px;

}

#benefit-left {
    padding: 0 20px;
    width: 33%;
}

#benefit-right {
    padding: 0 20px;
    width: 33%;
}

#benefit-center {
    padding: 0 20px;
    width: 33%;
    border-left: 1px solid;
    border-right: 1px solid;
}

/* ---------Footer Section--------- */

#footer-wrapper {
    /* issue with footer not displaying in the footer solved using 
     https://stackoverflow.com/questions/4575826/how-to-push-a-footer-to-the-bottom-of-page-when-content-is-short-or-missing */
    display: flex;
    min-height: 20vh;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

/* ---------Footer Section - Email --------- */

#email-sign-up {
    background-color: #742e2a;
    color: #fff;
    padding: 10px;
}

#email-sign-up h3 {
    margin-bottom: 10px;
}

/*#email-sign-up #email-submit {
    background-color: orange;
    border: 1px solid #3a3a3a;
    color: #f2f2f2;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}

#email-sign-up #email-submit:hover {
    color: #fff;
}

#email-sign-up #email-submit:hover {
    background-color: green;
}*/

#email-sign-up #email-box {
    background-color: #fff;
    width: 15%;
    border: 1px solid #3a3a3a;
    padding: 10px 20px;
    border-radius: 5px;
}

/* ---------Footer Section - Social Links --------- */
#social-links {
    background-color: #742e2a;
    height: 20%;
    padding: 10px 0;
    font-size: 24px;
    text-align: center;

}

#social-links a {
    padding: 0 20px 0 20px;
    text-decoration: none;
    color: whitesmoke;
}

#social-links h3 {
    padding: 0 20px 0 20px;
    text-decoration: none;
    color: whitesmoke;
    padding: 0 0 10px 0;
}