@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    width: 100%;
    color: #3a3a3a;
    font-family: 'Nunito', sans-serif;
    position: relative;
}

footer {
    width: 100%;
    background-color: #340804;
}

h2 {
    font-size: 1.1rem;
}

h3 {
    font-size: 1.0rem;
}

h4 {
    font-size: 1.1rem;
}

.button {
    color: #340804;
    background-color: white;
    border: 1px solid #340804;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    width: 140px;
    font-size: 0.9rem;
}

.button:hover {
    background-color: #340804;
    border: 1px solid lightgray;
    color: #f2f2f2;
}

input:focus::placeholder {
    color: transparent;
}

hr {
    color: #340804;
}

/* ---------Header Section--------- */

#header-wrapper {
    display: flex;
    margin-bottom: 20px;
}

#header-logo {
    flex-direction: row;
}

#header-nav {
    flex-direction: row;
    flex-wrap: wrap;
}

#header-nav a {
    display: inline-block;
    color: #3a3a3a;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px 30px;
    margin-top: 45px;
}

#header-nav a:hover {
    color: green;
}

.active {
    border-bottom: 2px solid orange;
}

#header-logo img {
    height: 120px;
    width: auto;
    padding-left: 10px;
}

/* ---------Body Section--------- */

.flexbox-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0 50px;
    min-height: 66vh;
}

.flexbox-grid .col img {
    width: 100%;
}

#body-left {
    flex: 1;
}

#body-right {
    flex: 1;
}

#body-center {
    flex: 1;
}

#body-center p {
    text-align: center;
    padding: 10px 20px;
}

#body-center h1 {
    text-align: center;
    padding: 10px 20px;
    font-family: 'Lato', sans-serif;
    font-size: 2.5em;
}

#body-center .button {
    margin: 15px 0;
}



/* ---------Body BAKES--------- */

#intro-copy {
    border: 1px solid lightgray;
    background-color: #f2f2f2;
    margin: 0 34px 10px 34px;
    text-align: center;
    padding: 20px 10px;
}

#intro-copy h1 {
    font-size: 1.6rem;
    color: #340804;
}

#row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    height: 130vh;
}

.col-md-4 {
    text-align: center;
    display: inline-block;
    padding: 10px 10px;
    margin: 0 30px 0 30px;
    flex: 1 0 25%;
}

.price {
    color: #340804;
    font-size: 1rem;
    margin-bottom: 10px;
}

.col-md-4,
.button {
    text-decoration: none;
    padding: 5px;
    margin-top: 10px;
}

.col-md-4 h3 {
    padding-top: 10px;
    margin-bottom: 5px;
}


/* ---------Body About Us --------- */


#about-us-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 0 50px 10px 50px;
    flex-grow: 1;
    min-height: 65vh;
}

#copy {
    flex: 1;
    padding: 20px 50px;
}

#copy h1 {
    font-weight: bold;
    color: #340804;
}

#copy p {
    font-size: 1.1rem;
}

#video {
    flex: 1;
    margin-top: 59px;
    padding: 0 50px;
}

.bake-video {
    height: 315px;
    width: 550px;
}

/* ---------Body Product Details Page --------- */

#product-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 140px;
    border: 1px solid lightgray;
}

#product-image {
    flex: 1;
    padding: 20px;

}

#product-details {
    flex: 1;
    text-align: center;
    background-color: whitesmoke;
    padding: 20px;
    border: 20px solid white;
    border-left: 0;
    height: auto;
}

.button1 {
    color: white;
    background-color: black;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    width: 140px;
    margin-bottom: 10px;
}

#product-details h3 {
    font-size: 1.1rem;
    color: #340804;
    text-align: left;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#product-details ul {
    list-style-position: inside;
    padding-top: 5px;
    font-size: 0.9rem;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#product-details h1 {
    padding-top: 10px;
    font-size: 1.5rem;
    color: #340804;
}

#product-details p {
    font-size: 1.0rem;
    margin-bottom: 7px;
}

#product-details a {
    text-decoration: none;
    color: #340804;
}

.phone_email i {
    margin-bottom: 5px;
    color: #340804;
}


/* --------- Body Contact Us Form -------- */

#contact-us {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    min-height: 74vh;
}

#contact-us,
h1,
p {
    text-align: center;
}

#contact-form {
    border: 1px solid #3a3a3a;
    border-radius: 10px;
    width: 50%;
    background-color: #f2f2f2;
    margin: 30px 300px;
    padding: 20px;
    align-content: center;
}

#contact-form input,
textarea {
    border: 1px solid #3a3a3a;
    height: 100px;
    min-width: 240px;
    padding: 5px;
    display: block;
    margin: 10px auto;
}

#contact-form input {
    height: 30px;
    min-width: 240px;
    padding: 5px;
    margin: 0px 10px 0 10px;
    align-content: center;
    display: block;
    margin: 10px auto;
}

input[type=submit] {
    color: #340804;
    background-color: white;
    border: 1px solid #340804;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    min-width: 240px;
    margin-bottom: 20px;
}

input[type=submit]:hover {
    background-color: #340804;
    border: 1px solid lightgray;
    color: #f2f2f2;
}

#contact-form label {
    margin-bottom: 10px;
}

/* ---------Footer Section--------- */

#footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#benefit-bar-container {
    text-align: center;
    display: inline-flex;
    color: #3a3a3a;
    padding: 20px 30px 10px 30px;
    max-width: 100%;
    background-color: #fff;
}

#benefit-bar-container .col {
    flex: 1;
    display: inline-flex;
    justify-content: center;
    color: #3a3a3a;
    padding: 10px 30px 10px 30px;
    max-width: 100%;
    background-color: #fff;
}

#social-links {
    flex: 1;
}

#benefit-left {
    padding: 0 20px;
}

#benefit-right {
    padding: 0 20px;
}

#benefit-center {
    padding: 0 20px;
    border-left: 1px solid;
    border-right: 1px solid;
}

#social-links {
    height: 20%;
    padding: 10px 0;
    font-size: 24px;
    text-align: center;
    background-color: #340804;
}

#social-links a {
    padding: 0 20px 0 20px;
    text-decoration: none;
    color: whitesmoke;
    margin-bottom: 20px;
}

#social-links h3 {
    padding: 0 20px 0 20px;
    text-decoration: none;
    color: whitesmoke;
    padding: 0 0 10px 0;
}


/* ----- Body Responsive max 1200px - Tablet ------- */

@media screen and (max-width: 1200px) {
    .flexbox-grid {
        flex-direction: column;
    }

    .flexbox-grid .col {
        flex: 1;
    }

    #about-us-main {
        flex-direction: column;
        margin: 0 10px;
    }

    .bake-video {
        height: 100%;
        width: auto;
    }
    #body-center p {
        padding: 0px;
    }
}



@media screen and (max-width: 800px) {
    #product-wrapper {
        flex-direction: column;
        flex: 1;
        margin: 10px;
        height: 140vh;
    }
    #product-details {
        border-left: 20px solid white;
    }
}

@media screen and (max-width: 650px) {
    #header-wrapper .col {
        flex-grow: 1;
    }
}

/* ----- Body Responsive max 600px - Mobile------- */

@media screen and (max-width: 600px) {
    .flexbox-grid {
        flex-direction: column;
    }

    .flexbox-grid .col {
        flex-grow: 1;
    }

    #body-right img {
        display: none;
    }

    #header-wrapper {
        flex-direction: column;
        align-items: center;
    }

    #header-wrapper .col {
        flex-grow: 1;
    }

    #benefit-bar-container #benefit-left {
        display: none;
    }

    #benefit-center {
        border-left: 0px solid;
        flex: 1;
    }

    #benefit-right {
        flex: 1;
    }

    #about-us-main {
        flex-direction: column;
    }

    .bake-video {
        height: 100%;
        width: auto;
    }

    #row {
        flex-wrap: wrap;
        flex-direction: column;
    }

    /* #product-wrapper {
        margin: 10px;
        flex: 1;
    } */
      

    #contact-form {
        width: 80%;
        margin: 20px 20px;
    }

    #intro-copy {
        margin-top: 20px;
    }
    #header-nav a {
        padding: 5px 25px;
        margin-top: 0px;
    }
}

@media screen and (max-width: 350px) {

    #header-nav {
        display: flex;
    }

    #contact-form {
        width: 75%;
    }

    #contact-form input,
    textarea {
        min-width: 200px;
    }

    #contact-form input {
        min-width: 200px;
    }

    input[type=submit] {
        min-width: 200px;
    }
    #header-nav a {
        padding: 10px 12px;
    }
    #benefit-bar-container .col {
        padding: 10px 11px 10px 11px;
    }
}
